	body {
		background-color: rgb(246,246,246)
	}

	hr.frame-bar{
		height: 5px;
		background-color: rgb(0,0,0);
		color: rgb(0,0,0);
		border: 0 none;
	}

	p#top-links {
		text-align: center;
		font-family: arial;
		color: black;
	}

	a:active {
		font-style: italic;
	}

	h1 {
		text-align: center;
		font-family: helvetica;
	}
	h2 {
		font-family: helvetica;
	}
	h3 {
		font-family: helvetica;
		font-size: 20px;
	}

	p {
		padding-bottom: 20px;
	}

	ul {
    list-style-type: square;
	}

	li {
		font-family: helvetica;
	}

	div {
		margin: 40px;
	}

	#kemper {
		width: 150px;
		padding: 5px;
		border: 2px solid black;
		margin-left: 30px;
		float: right;
		text-align: center;
	}

	.profile-sites {
		margin-left: 20px;
		margin-bottom: 30px;
		width: 500px;
		padding: 5px;
		border: 2px solid black;

	}

	.profile-border {
		margin: 30px 0;
	}

	p#social {
		text-align: center;
		font-family: arial;
		color: black;
		padding: 20px;
	}
